/* Variaveis de cor */
:root{
    --botoes-inativo-cor: #00002D;
    --botoes-ativo-cor: #4149F6;
    --card-img-cont: #00004B;
    --botoes-hover: #7379FF;
    --fundo-cor: #020210;
    --linhas-cor: #44436A;
    --text-color: white;
}

body{
    background-color: var(--fundo-cor);
}

a {
    text-decoration: none;
}

/* Para toda a página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*=================Definindo Header================*/
.main-header {
    position: fixed;
    color: white;
    width: 100%;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid var(--linhas-cor);
    background-color: var(--fundo-cor);
    z-index: 1000;
}

/*Lista de botões na header*/
.header-buttons {
    list-style: none;
    display: flex;
    justify-content: center;
}

.header-buttons button {
    color: var(--text-color);
    background-color: var(--botoes-inativo-cor);
    border: none;
    height: 50px;
    width: 180px;
    clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
    padding: 0;
    cursor: pointer;
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}    

.header-buttons button:hover {
    background-color: var(--botoes-hover);
}

.header-buttons button.active {
    background-color: var(--botoes-ativo-cor);
    color: var(--text-color);
}

/*Definindo Inicio*/
.itens-pagina {
    margin-left: 30px;
    padding-top: 125px;
    color: white;
    font-family: 'Marmelad', sans-serif;
}

.about-me{
    display: grid;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    width: 85%;
    height: 650px;
    background-color: var(--botoes-inativo-cor);
    border-radius: 20px;
}

.about-me .gridtop{
    grid-row: 1;
    grid-template-columns: 1fr 1fr;
    display: flex;
    gap: 30px;
    align-items: center;
    width: 99%;
    height: 100%;
}

.gridtop .card-image{
    width: 412px;
    height: 100%;
    align-self: self-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top-left-radius: 20px;
    padding-top: 50px;
    padding-bottom: 65px;
    background-color: var(--card-img-cont);
}

.gridtop .card-image #imagem-p{
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.gridtop .card-image .name-div{
    display: flex;
    justify-content: center;    
    width: 80%;
    margin-top: 20px;
    border-bottom: 1px solid #443FCB;
}

.gridtop .card-image .name-div .name{
    font-size: 24px;
    font-family: 'Koulen', sans-serif;
}

.gridtop .card-image .form{
    width: 200px;
    text-align: center;
    justify-self: center;
    margin-top: 10px;
    font-family: 'Kreon', sans-serif;
    font-size: 20px;
}

.gridtop .text{
    align-self: flex-start;
    margin-top: 30px;
    width: 910px;
    margin-right: 90px;
    font-family: 'Kreon', sans-serif;
}

.gridtop .text p{
    font-size: 30px;
    color: var(--botoes-ativo-cor);
}

.gridtop .text span{
    font-size: 20px;
    font-weight: mixed;
    color: white;
}

.gridbottom {
    display: flex;
    grid-row: 2;
    justify-content: start;
    align-items: center;
    width: 97%;
    height: 100%;
    padding-left: 2%;
}

.icon_list img{
    width: 100px;
    height: auto;
    padding-right: 28px;
}

.githubic{
    width: 60px;
    height: 60px;
}

.project-list .titulo{
    border-left: #44436A 1px solid;
    padding-left: 70px;
    color: var(--text-color);
}

/*Definindo Lista de Projetos*/
.project-list{
    margin-top: 60px;;
    color: var(--text-color);
}

.project-list .titulo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 18px;
    width: 200px;
    height: 85px;
    margin-bottom: 30px;
}

.project-list .titulo h3{
    margin-left: 25px;
}


#repo-list{
    margin-top: 60px;
    color: var(--text-color);
}

#repo-list li{
    width: 75%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 30px;
    background-color: var(--card-img-cont);
    border-radius: 10px;
}

.repo-item{
    padding: 50px
}

.p_titulo{
    font-family: 'Kantumruy Pro', sans-serif;
    font-size: 25px;
    color: white;
    padding-bottom: 20px;
}

.p_descricao{
}